{% extends 'base.html' %}
{% block content %}

<div class="card p-4 shadow">
<h3>Tambah Laporan</h3>

<form method="post"
onsubmit="this.querySelector('button').innerText='Loading...'; this.querySelector('button').disabled=true;">
    {% csrf_token %}

    <input type="text" name="title" class="form-control mb-2" placeholder="Judul">
    <input type="text" name="category" class="form-control mb-2" placeholder="Kategori">
    <textarea name="description" class="form-control mb-2" placeholder="Deskripsi"></textarea>
    <input type="text" name="location" class="form-control mb-3" placeholder="Lokasi">

    <button class="btn btn-success">Submit</button>
    <a href="/" class="btn btn-secondary">Kembali</a>
</form>
</div>

{% endblock %}